[submodule "FW-KENSC-ShellExt"]
	path = FW-KENSC-ShellExt
	url = https://github.com/MainMemory/FW-KENSC-ShellExt
[submodule "CIEDE2000"]
	path = CIEDE2000
	url = https://github.com/gfiumara/CIEDE2000
[submodule "clownassembler"]
	path = clownassembler
	url = https://github.com/Clownacy/clownassembler
[submodule "libsonassmd"]
	path = libsonassmd
	url = https://github.com/Clownacy/libsonassmd
